body {
    margin: 0 auto;
}

main {
    background-color: #FAD102;
}

section {}

h1 {
    font-family: star-bold;
}

h2 {
    font-family: star-regular;
}

p {
    font-family: tryst;
    color: #ffffff;
}




#hover-square-tema1 {
    font-family: tryst;
    position: absolute;
    width: 35vw;
    height: 25vw;
    right: 45vw;
    top: 106vw;
    opacity: 0;

}

#hover-square-tema2 {
    font-family: tryst;
    position: absolute;
    width: 35vw;
    height: 25vw;
    right: 8vw;
    top: 106vw;
    opacity: 0;

}

#hover-square-tema3 {
    font-family: tryst;
    position: absolute;
    width: 35vw;
    height: 25vw;
    right: 45vw;
    top: 152vw;
    opacity: 0;

}

#hover-square-tema4 {
    font-family: tryst;
    position: absolute;
    width: 35vw;
    height: 25vw;
    right: 8vw;
    top: 152vw;
    opacity: 0;

}

.hover-knap {
    position: relative;
    align-self: center;
    height: 3vw;
    width: 25vw;
    background-color: #FAD102;
    border-radius: 2vw;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    cursor: pointer;


}

.hover-knap:active {
    transform: translateY(22px);
}

.hover-knap:hover {
    background-color: #ffffff;


}


.hover-knap a {
    font-size: 2vw;
    color: #160101;
}

#hover-square-tema1:hover {
    opacity: 1;
}

#hover-square-tema2:hover {
    opacity: 1;
}

#hover-square-tema3:hover {
    opacity: 1;
}

#hover-square-tema4:hover {
    opacity: 1;
}




@font-face {
    font-family: tryst;
    src: url('fonts/tryst/tryst-regular-webfont.woff2') format('woff2'),
        url('font/tryst/tryst-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: star-regular;
    src: url('fonts/star-regular/stardosstencil-regular-webfont.woff2') format('woff2'),
        url('font/tryst/tryst-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: star-bold;
    src: url('fonts/star-bold/stardosstencil-bold-webfont.woff2') format('woff2'),
        url('font/tryst/tryst-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    /*    position: fixed;*/
    width: 100vw;
    background-color: #160101;
    height: 6vw;
}

nav {
    display: flex;
    height: 5vw;
    width: 18vw;

}

#navigations-logo {
    margin-right: 68vw;
    display: flex;
    height: 4vw;
    align-self: center
}

#navigations-logo img {
    height: 5vw;
    width: 5vw;
}

nav figcaption {
    color: #FAD102;
    width: 10vw;
    margin-left: 2vw;
    font-size: 1.5vw;
    text-align: center;
}

a {
    font-size: 1.5vw;

    text-decoration: none;
    color: #FAD102;
    align-self: center;
    margin-right: 2vw;
    margin-top: 1vw;
}

#forside {
    height: 100%;
    display: flex;

}

#splash {
    justify-content: center;

}

#forside-logo {
    margin: 0;
}

#forside-logo img {
    max-width: 100%;
}





#portfolio {
    display: flex;
    flex-direction: column;
    width: 100vw
}


#top-txt {
    margin-top: 4vw;
    flex-basis: 20vw;
    align-self: center;
    border-radius: 3vw;
    color: #FAD102;
    background-color: #160101;
    margin-bottom: 4vw;

}

#top-txt p {
    font-size: 2.5vw;
    width: 60vw;
    margin-left: 2vw;


}

#top-txt h1 {
    margin-top: 3.5vw;
    font-size: 3vw;
    text-align: center;



}




#top-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 90vw;
    margin-left: 5vw;

}


#top-row img {
    width: 35vw;


}

#bottom-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 10vw;
}

#bottom-row img {
    margin-top: 10vw;
    width: 35vw;

}

#bottom-row-ux {
    margin-top: 3.2vw;
}

.txt {
    border: solid #160101;
    margin-top: 2vw;
    color: #FAD102;
    line-height: 0.6rem;
    font-size: 1.6vw;
    background-color: #160101;

}


/*     TEMA1      */

#knap {
    font-family: tryst;
    font-weight: 600;
    font-size: 0.8vw;
    border: 7px solid;
    border-radius: 1vw;
    margin-left: 2vw;
    width: 9vw;
    height: 2vw;
    background-color: #FAD102;
    color: #160101;

}


.tema-container1 {
    height: 70vw;
    display: flex;
    background-color: #FAD102;
    justify-content: flex-end;


}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}


.tema-container2 {
    display: flex;
    height: 70vw;
    background-color: #FAD102;
    width: 100vw;



}

.left-column {
    margin-top: 5vw;
    border: 1vw solid #160101;
    background-color: #160101;
    height: 55vw;
    margin-left: 5vw;
    width: 52vw;
    border-radius: 2vw;
}

.right-column {
    margin-top: 5vw;
    border: 1vw solid #160101;
    background-color: #160101;
    height: 55vw;
    margin-right: 5vw;
    width: 45vw;
    border-radius: 2vw;

}

.txt-top h1 {
    margin-left: 2vw;
    background-color: #160101;
    color: #FAD102;
    font-size: 2.5vw;

}

.txt-top h2 {

    margin-left: 2vw;
    background-color: #160101;
    color: #FAD102;
    font-size: 1.8vw;


}

.txt-top p {
    width: 42vw;
    margin-left: 2vw;
    background-color: #160101;
    color: #ffffff;
    font-size: 1.5vw;


}

.txt-top2 h1 {
    margin-left: 2vw;
    background-color: #160101;
    color: #FAD102;
    font-size: 2vw;

}

.txt-top2 h2 {

    margin-left: 2vw;
    background-color: #160101;
    color: #FAD102;
    font-size: 1.5vw;

}

.txt-top2 p {
    width: 42vw;
    margin-left: 2vw;
    background-color: #160101;
    color: #ffffff;
    font-size: 1.2vw;

}

.txt-middle h2 {
    margin-top: 3vw;
    margin-left: 2vw;
    background-color: #160101;
    color: #FAD102;
    font-size: 1.5vw;
}

.txt-middle p {
    width: 42vw;
    margin-left: 2vw;
    background-color: #160101;
    color: #ffffff;
    font-size: 1.2vw;
}

.txt-bottom h2 {
    margin-top: 5vw;
    margin-left: 2vw;
    background-color: #160101;
    color: #FAD102;
    font-size: 1.8vw;


}

.txt-bottom p {
    width: 42vw;
    margin-left: 2vw;
    background-color: #160101;
    color: #ffffff;
    font-size: 1.5vw;

}

.txt-bottom2 h2 {
    margin-top: 3vw;

    margin-left: 2vw;
    background-color: #160101;
    color: #FAD102;
    font-size: 1.5vw;

}

.txt-bottom2 p {
    width: 42vw;
    margin-left: 2vw;
    background-color: #160101;
    color: #ffffff;
    font-size: 1.3vw;

}

.right-pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4vw
}

.right-pictures img {
    width: 39vw;
    height: 20vw;
    margin-bottom: 5vw
}

#left-picures {
    display: flex;
    flex-direction: column;
    margin-top: 8vw;
}

#left-picures img {
    max-width: 100%;
    max-height: 100%;
}



#pic-top {
    width: 25vw;
    height: 15vw;
}

#pic-middle img {
    width: 20vw;
    height: 15vw;
}

#pic-bottom {
    width: 20vw;
    height: 15vw;
    text-align: center;
}

#dk-screen {
    width: 30vw;
    height: 22vw;
    margin-top: 10vw;
}



#dk-virksomhedsvideo {
    align-self: center;
}

/*     OM section       */



#om {
    height: 100%;
    width: 100vw;


}

#om img {

    height: 25vw;
    width: 30vw;
    margin-top: vw;


}




#om-mig {

    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 3vw;




}

#erfaring {
    flex-direction: row-reverse;
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5vw;

}

#kompetencer {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 3vw;


}

.om-txt {
    flex-basis: 30vw;
    height: 23vw;
    border-radius: 3vw;
    border: solid #160101;
    background-color: #160101;
    color: #FAD102;
    align-self: center;

}

.om-txt p {
    width: 24vw;
    margin-left: 3.5vw;
    font-size: 1.5vw;

}

.om-txt h1 {
    text-align: center;
    width: 20vw;
    margin-left: 5vw;
    font-size: 2vw;

}

footer {
    background-color: #160101;
    width: 100vw;

}

#kontakt-row {
    display: flex;
    width: 100vw;
    justify-content: center;

}


.circle {
    flex-basis: 10vw;
    color: #FAD102;
}

.circle img {

    width: 5vw;
    color: #FAD102;
}


#kontakt-row figcaption {
    height: 1vw;
    width: 8vw;
    color: #FAD102;

}

@media only screen and (max-width: 800px) {


    #top-row img {
        max-width: 65vw;
    }

    #bottom-row img {
        width: 65vw;
    }

    #top-txt p {
        flex-basis: 32vw;
        max-width: 50vw;
        font-size: 3vw;
    }

    #top-txt h1 {
        font-size: 4.5vw;
    }

    .txt {
        font-size: 2.6vw;
    }

    #kontakt-row {
        margin-left: 0vw;
    }

    .circle {
        width: 7vw;
    }

    .circle img {
        width: 6vw;
    }

    #kontakt-row figcaption {
        font-size: 1.3vw;
    }

    #om img {

        height: 55vw;
        width: 65vw;
        margin-top: 2vw;
        margin-left: 2vw;


    }

    .om-txt {
        flex-basis: 60vw;
        height: 43vw;
        border-radius: 3vw;
        margin-bottom: 5vw;
        margin-left: 2vw;

    }

    .om-txt p {
        width: 44vw;
        margin-left: 8vw;
        font-size: 2.9vw;

    }

    .om-txt h1 {
        text-align: center;
        margin-left: 17vw;
        font-size: 4vw;

    }

    .tema-container1 {
        height: 120vw;

    }


    .tema-container2 {

        height: 120vw;




    }

    .left-column {
        height: 105vw;
        width: 80vw;
        border: 2vw solid #160101;
        border-radius: 2vw;
    }

    .right-column {
        border: 2vw solid #160101;
        height: 55vw;
        width: 105vw;
        border-radius: 2vw;

    }

    .txt-top h1 {
        margin-left: 2vw;
        font-size: 4.5vw;

    }

    .txt-top h2 {
        text-align: center;
        font-size: 3.5vw;
    }

    .txt-top p {
        width: 40vw;
        margin-left: 5vw;

        font-size: 2.5vw;


    }

    .txt-top2 h1 {

        font-size: 4vw;

    }

    .txt-top2 h2 {

        text-align: center;
        font-size: 3vw;
        margin: 0;
    }

    .txt-top2 p {
        width: 38vw;
        margin-left: 3vw;
        font-size: 2vw;

    }

    .txt-middle h2 {
        margin: 0;
        font-size: 3vw;
        text-align: center;
    }

    .txt-middle p {
        width: 38vw;
        margin-left: 3vw;
        font-size: 2vw;

    }

    .txt-bottom h2 {
        text-align: center;
        font-size: 3.5vw;


    }

    .txt-bottom p {
        width: 40vw;
        margin-left: 5vw;
        font-size: 2.5vw;

    }

    .txt-bottom2 h2 {
        margin: 0;
        text-align: center;
        font-size: 3vw;

    }

    .txt-bottom2 p {
        width: 38vw;
        margin-left: 3vw;
        font-size: 2vw;

    }

    .right-pictures {}

    .right-pictures img {
        width: 45vw;
        height: 30vw;
    }

    #left-picures {
        margin-top: 10vw;
    }

    #left-picures img {
        max-width: 100%;
        max-height: 100%;
    }

    .pic-top2 {
        margin-left: 2vw;
    }

    #pic-top {
        width: 30vw;
        height: 30vw;
    }

    .pic-bottom2 {
        margin-left: 2vw;
    }

    #pic-middle img {
        width: 30vw;
        height: 30vw;
    }

    #pic-bottom {
        align-self: center;
        width: 20vw;
        height: 25vw;
    }

    #dk-screen {
        width: 30vw;
        height: 22vw;
        margin-top: 20vw;
    }



    #dk-virksomhedsvideo {
        margin-top: 10vw;
        width: 30vw;
        align-self: center;
    }




}
